ul {
  list-style-type: none;
  padding: 0px;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.s-header {
  padding: 50px;
  background-color: #445162;
}

.s-header::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}

.s-header-block {
  float: left;
}

.s-header-title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Arial';
  font-size: 60px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 30px;
}

.s-header-list {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Arial';
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 36px;
}

.s-header-item {
  position: relative;
  margin-left: 35px;
}

.s-header-item::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 19px;
  margin-right: 10px;
  position: absolute;
  top: 8px;
  left: -35px;
  background-size: cover;
  background-image: url(../img/check.png);
}

.s-header-img {
  background-color: blue;
  display: block;
  float: right;
}

.s-main {}

.s-main-about {
  display: block;
  width: 665px;
  float: left;
}

.s-main-about-wrapper {
  padding: 50px;
}

.s-main-about-wrapper::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}

.s-main-about-title {
  font-family: Arial;
  font-size: 30px;
  font-weight: 400;
  color: #445161;
  margin-bottom: 30px;
}

.s-main-about-text {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin-top: 20px;
}

.s-main-video {
  float: right;
}

.s-main-dignity-wrapper {
  padding: 50px;
  background-color: #f5f5f5;
}

.s-main-dignity-wrapper::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}

.s-main-dignity-title {
  font-family: Arial;
  font-size: 30px;
  font-weight: 400;
  color: #445161;
  text-align: center;
}

.s-main-dignity-block {
  width: 48%;
  float: left;
  margin-top: 30px;
}

.second-block {
  float: right;
}

.s-main-dignity-block-details {}

.s-main-dignity-block-summary {
  list-style-type: none;
  margin-left: 41px;
  position: relative;
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin-top: 35px;
}

.s-main-dignity-block-summary::before {
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: -41px;
  background-size: auto;
  background-image: url(../img/summary.png);
  background-color: #445161;
}

.s-main-dignity-block-text {
  margin-left: 41px;
  margin-top: 20px;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  color: #333333;
}

.s-main-scrinshots {
  padding: 50px;
}

.s-main-scrinshots-title {
  font-family: Arial;
  font-size: 30px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  margin-bottom: 5px;
}

.s-main-scrinshots-wrapper {}

.s-main-scrinshots-blocks {
  width: 49.3%;
  float: left;
}

.s-main-scrinshots-block {
  margin-top: 30px;
}

.s-main-scrinshots-block::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}

.s-main-scrinshots-wrapper::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}


.s-main-scrinshots-block-img {
  background-color: #445161;
  display: block;
  box-sizing: border-box;
  float: left;
}

.s-main-scrinshots-block-title {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  color: #445161;
  display: inline-block;
  margin-left: 15px;
}

.s-main-scrinshots-block-text {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin-top: 15px;
  max-width: 364px;
  display: inline-block;
  margin-left: 15px;
}

.right-blocks {
  margin-left: 15px;
}

